html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/** CUSTOM STYLES GO FROM HERE */

.row {
    margin: 0 -10px;
}

.row > [class^="col-"] {
    padding: 0 10px;
}

.row.row-space-0 {
    margin: 0;
}

.row.row-space-2 {
    margin: 0 -1px;
}

.row.row-space-4 {
    margin: 0 -2px;
}

.row.row-space-6 {
    margin: 0 -3px;
}

.row.row-space-8 {
    margin: 0 -4px;
}

.row.row-space-10 {
    margin: 0 -5px;
}

.row.row-space-12 {
    margin: 0 -6px;
}

.row.row-space-14 {
    margin: 0 -7px;
}

.row.row-space-16 {
    margin: 0 -8px;
}

.row.row-space-18 {
    margin: 0 -9px;
}

.row.row-space-18 {
    margin: 0 -10px;
}

.row.row-space-22 {
    margin: 0 -11px;
}

.row.row-space-24 {
    margin: 0 -12px;
}

.row.row-space-26 {
    margin: 0 -13px;
}

.row.row-space-28 {
    margin: 0 -14px;
}

.row.row-space-30 {
    margin: 0 -15px;
}

.row.row-space-0 > [class^="col-"] {
    padding: 0;
}

.row.row-space-2 > [class^="col-"] {
    padding: 0 1px;
}

.row.row-space-4 > [class^="col-"] {
    padding: 0 2px;
}

.row.row-space-6 > [class^="col-"] {
    padding: 0 3px;
}

.row.row-space-8 > [class^="col-"] {
    padding: 0 4px;
}

.row.row-space-10 > [class^="col-"] {
    padding: 0 5px;
}

.row.row-space-12 > [class^="col-"] {
    padding: 0 6px;
}

.row.row-space-14 > [class^="col-"] {
    padding: 0 7px;
}

.row.row-space-16 > [class^="col-"] {
    padding: 0 8px;
}

.row.row-space-18 > [class^="col-"] {
    padding: 0 9px;
}

.row.row-space-20 > [class^="col-"] {
    padding: 0 10px;
}

.row.row-space-22 > [class^="col-"] {
    padding: 0 11px;
}

.row.row-space-24 > [class^="col-"] {
    padding: 0 12px;
}

.row.row-space-26 > [class^="col-"] {
    padding: 0 13px;
}

.row.row-space-28 > [class^="col-"] {
    padding: 0 14px;
}

.row.row-space-30 > [class^="col-"] {
    padding: 0 15px;
}


/** CUSTOM STYLES GO FROM HERE */

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    font-size: 24px;
}

.breadcrumb {
    margin-bottom: 5px;
    padding: 5px 15px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
}

label, .control-label {
    font-weight: 400;
}

.product-image-block {
    position: relative;
    width: 160px;
    height: 160px;
    border: 1px solid red;
    margin-right: 10px;
}

.product-image-block img {
    max-width: 158px;
    max-height: 158px;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
}

.add-new .image-overlay {
    cursor: pointer;
}

.image-overlay:hover {
    background: rgba(0, 0, 0, 0.1);
}

.btn-delete-image {
    font-size: 1.5em;
    float: right;
}

.btn-add-image {
    font-size: 4em;
    display: block;
    vertical-align: middle;
    line-height: 2.5em;
}

.item .order-item-image {
    width: 50px;
    height: 55px;
}

.item .item-image {
    max-width: 50px;
    max-height: 50px;
}

.item .item-name {
    padding-left: 10px;
    vertical-align: top;
    max-height: 40px;
}

.product-main-img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}


