body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #f2684a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 104, 74, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(242, 104, 74, 0.4);
}

.input-group-addon {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    font-weight: 600;
}


.btn-primary {
    color: #FFF;
    background-color: #F8694A;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:focus {
    color: #FFF;
    background-color: #30323A;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.d-block {
    display: block;
}

@media only screen and (max-width: 480px) {
    .header-btns > li + li {
        margin-left: 2px;
    }
}

@media screen and (min-width: 480px) {
    .shopping-cart-menu {
        transform: translateX(-80%) !important;
    }
}

.footer-logo {
    margin-bottom: 5px;
}

#footer.section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#product-view .product-view.slick-slide {
    outline: transparent;
    opacity: 0.75;
}

